<div class="container container-fluid ">

<div class="jumbotron jumbotron-fluid">
        <div class="heading row">
            <img src="../../../assets/images/admin.png" class="image" alt="image not found">
            <div>F</div>
            <div>u</div>
            <div>n</div>
            <div>d</div>
            <div>o</div>
            <div>o</div>
            <div>N</div>
            <div>o</div>
            <div>t</div>
            <div>e</div>
            <div>s</div>
        </div>       
      
      </div>


      <!-- </div> -->
      <!-- <h3> Service Packages</h3> -->
      <div class="col-xs-0 col-sm-4"></div>
      <div class="col-xs-12 col-sm-4" style="margin-top:5%">
        <div id="services"></div>
        </div>
        <div class="col-xs-0 col-sm-4"></div>
     
      <div class="col-md-5"></div>
    
    <div class="row row_style"></div>
    <table class="table table-hover" id="tableList">
        <thead>
            <tr>
              <th scope="col">Sl no</th>
              <th scope="col">Firstname</th>
              <th scope="col">Lastname</th>
              <th scope="col">Email</th>
              <th scope="col">Services</th>
            </tr>
        </thead>
      </table>   
     </div>