.bg-image {
   
      background-image: url("../../../assets/images/admin.jpg");
      /* background-size: cover; */
      height: 80px;
}

.heading div:nth-child(1)
{
  color: blue;
} 
.heading div:nth-child(2)
{
  color:red;
}
.heading div:nth-child(3)
{
  color:#fb0;
}
.heading div:nth-child(4)
{
  color:blue;
}
.heading div:nth-child(5)
{
  color:green;
}
.heading div:nth-child(6)
{
  color:red;
}
.heading div:nth-child(7)
{
  color: blue;
} 
.heading div:nth-child(8)
{
  color:red;
}
.heading div:nth-child(9)
{
  color:#fb0;
}
.heading div:nth-child(10)
{
  color:blue;
}
.heading div:nth-child(11)
{
  color:green;
}
.heading div:nth-child(12)
{
  color:red;
}
.heading{
    font-size: 40px;
   
}
#logout-button{
float: right;
margin-top:2%;
}
.table{
  cursor: pointer;
}
