 <div class="container-fliud">
  <div class="row row_style"></div>
  <div class="row row_style" style="margin-top:12%">
    <div class="col-xs-1 col-sm-4 col-md-2 col-lg-3 column_style"></div>
    <div class="col-xs-10 col-sm-4 col-md-8 col-lg-6 column_style ">
      <div class="card " >
        <form>

          <div class="card-header">
            <!-- <div class="form-inline"> -->
                    <img src="../../../assets/images/admin.png" class="image" alt="image not found">
              <div class="heading row">
                  <div>F</div>
                  <div>u</div>
                  <div>n</div>
                  <div>d</div>
                  <div>o</div>
                  <div>o</div>
                  <div>N</div>
                  <div>o</div>
                  <div>t</div>
                  <div>e</div>
                  <div>s</div>
              </div>
              
            <!-- </div> -->
              <br>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="email"> Email Id:</label>
              <input type="email" class="form-control" placeholder="Enter email id" id="email" required>
             
            </div>
            <div class="form-group">
              <label type="password">Password:</label>
              <input type="password" class="form-control" placeholder="password" id="password" required>
            </div>
            <div>
              <button type="submit" id="btn" value="submit" class="btn btn-primary btn-block">Submit </button>
              <label id = "msg" ></label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-xs-1 col-sm-4 col-md-4 col-lg-3 column_style"></div>
    </div>
    <div class="row row_style"></div>
  
</div> 

