<!-- Declaration of classes for navigation bar -->
<div class="bg-image">
    <div class="container container-fluid">
      <div id="logout-button">
        <button type="button" id="goBackToAdmin" class="btn btn-outline-secondary" >Go back</button>
      </div>
      <div class="heading row ">
        <div>F</div>
        <div>u</div>
        <div>n</div>
        <div>d</div>
        <div>o</div>
        <div>o</div>
        <div>A</div>
        <div>d</div>
        <div>m</div>
        <div>i</div>
        <div>n</div>
      </div>
    </div>
  </div>
  <br>

  <div>
    <app-loders id="hide"></app-loders>
  </div>
<div class="container-fluid card">  
  <div class="table-responsive">
    <table class="table table-hover table-bordered " id="userList">
      <thead class="thead-dark">
        <tr style="width:100%" class="clickable-row">
          <th style="width: 5%">Sl no</th>
          <th style="width: 80%">Questions Asked</th>
          <th style="width: 15%">Approve</th>
        </tr>
      </thead>
    </table>
  </div>
</div>